---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About Us | Data Journal by Datakyu">
  <Main>
    <H1 text="Your Gateway to Data Insights" />
    <section class="mb-20">
      <p>
        Data Journal, an independent publication by Datakyu, launched in
        February 2023, offers an unparalleled resource for data enthusiasts. By
        subscribing today, you gain full access to our content and receive email
        newsletters with the latest content.
      </p>
      <h2 class="text-4xl font-extrabold dark:text-white">Fresh Content</h2>
      <p>
        Stay ahead with a constant stream of new insights, articles, and
        resources tailored to your interests. Our commitment to delivering fresh
        content means you'll always have access to the latest developments,
        tutorials, and ideas in the world of data and analytics. Whether you're
        looking to enhance your skills or stay informed on industry trends, our
        regularly updated content ensures you never miss a beat.
      </p>
      <h2 class="text-4xl font-extrabold dark:text-white">
        Comprehensive Data Insights
      </h2>
      <p>
        We deliver focused content on web and product analytics, including
        tutorials, expert guides, and the latest trends. Perfect for staying
        informed and optimizing your data strategies.
      </p>
    </section>
    <section class="my-20">
      <h3 class="text-3xl font-bold dark:text-white mb-10">
        Subscribe to Data Journal
      </h3>
    </section>
    <script
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script type="text/javascript">
      hbspt.forms.create({
        region: "na1",
        portalId: "44171646",
        formId: "60b3351a-c880-4939-8971-cd8aef7ac7ff",
      });

      window.addEventListener("message", function (event) {
        if (
          event.data.type === "hsFormCallback" &&
          event.data.eventName === "onFormSubmitted"
        ) {
          const ue = event?.data?.data?.submissionValues?.email;
          window.analytics.identify(ue, {
            email: ue,
          });
          window.analytics.track("Subscribed Newsletter", {
            form_id: event.data.id,
          });
        }
      });
    </script>
  </Main>
  <Footer />
</Layout>

<style>
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
</style>
